*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*input {
    border: 1px solid chocolate;
    color: blue;
}

input::placeholder {
    color: blue;
}

p {
    color: blue;   
}

p::first-line {
    color: red;
} */

a{
    color: blue;
}

a::before {
    content: "🠒 ";
}